<h1>test member</h1>
<button><a href="{% url 'logout' %}">logout</a></button>
<button><a href="{% url 'IPCR_Form' %}">IPCR_Form</a></button>
<button><a href="{% url 'Show_IPCR' %}">IPCR_Form_View == disregard, para lang to sakin para makita ko kung nagsasave, delete mo nalang to ate mina</a></button>
<button><a href="{% url 'download' %}">download</a></button>
<button><a href="{% url 'dashboard' %}">dashboard</a></button>
<button><a href="{% url 'member_faculty_list' %}">faculty list</a></button>
<button><a href="{% url 'member_notification' %}">notifications</a></button>
<button><a href="{% url 'settings' %}">settings</a></button>
