{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<form action="{% url 'IPCR_Form' %}" method = "POST">
    {% csrf_token %}
            <h4>No. of syllabus prepared:</h4>
            {{ form_syllabus }}

            <h4>No. of course guide prepared:</h4>
            {{ form_courseguide }}

            <h4>No. of SLM prepared:</h4>
            {{ form_SLM }}

            <h4>No. of subject areas with community immersion/involvement component:</h4>
            {{ form_subjectareas }}

            <h4>Attendance sheet:</h4>
            {{ form_attendancesheet }}

            <h4>Class record:</h4>
            {{ form_classrecord }}

            <h4>Evaluation of teaching effectiveness:</h4>
            {{ form_teachingeffectiveness }}

            <h4>Classroom observation:</h4>
            {{ form_classroomobservation }}

            <h4>TOS/Rubrics (Midterm):</h4>
            {{ form_midtermtosrubrics }}

            <h4>TOS/Rubrics (Final term):</h4>
            {{ form_finaltermtosrubrics }}

            <h4>Test questions (term exams)/Performance's based activities (Midterm):</h4>
            {{ form_midtermtestquestions }}

            <h4>Test questions (term exams)/Performance's based activities (Final term):</h4>
            {{ form_finaltermtestquestions }}

            <h4>Answer keys (Midterm):</h4>
            {{ form_midtermanswerkey }}

            <h4>Answer keys (Final term):</h4>
            {{ form_finaltermanswerkey }}

            <h4>No. of grading sheets submitted and encoded:</h4>
            {{ form_gradingsheet }}

            <h4>No. of faculty and students seek advises:</h4>
            {{ form_studentadviced }}

            <h4>Accomplishment report:</h4>
            {{ form_accomplishmentreport }}

        <h1>  </h1>    
        <input type="submit" value="Save">
</form>

<button><a href="{% url 'member_home' %}">home</a></button>
